.bar {
  display: inline-block;
  width: 20px;
  height: 75px;   /* We'll override height later */
}

#barBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-end;
}

#dataBtn {
  padding: 10px;
  margin-bottom: 20px;
  background-color: lavender;
  text-shadow: 0px 0.9px 0px rgba(0, 0, 0, 1);
  border: none;
}

#dataBtn:hover {
  text-decoration: underline purple;
}
